@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom font setup */
@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Regular.ttf') format('OpenType');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-SemiBold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
  } 
  @font-face {
      font-family: 'Gilroy';
      src: url('/assets/fonts/Gilroy-Bold.ttf') format('opentype');
      font-weight: 700;
      font-style: normal;
    } 